.node {
  width: 2.5vw;
  height: 2.5vw;

  outline: 1px solid rgb(175, 216, 248);
  display: inline-table;
}
.node-start {
  background-color: rgba(248, 177, 11, 0.962);
  background-image: url("../../Images/puppy.png");
  background-size: cover;
  background-position: center;
}

.node-weighted {
  background-image: url("../../Images/angryDog1.png");
  background-size: cover;
  background-position: center;
}

.node-end {
  background-color: green;
  background-image: url("../../Images/dogBowl.png");
  background-size: cover;
  background-position: center;
}

.node-visited {
  background-color: rgb(178, 133, 220);
}

.node-final {
  background-color: plum;
}

.node-wall {
  background-image: url("../../Images/angryDog2.png");
  background-size: cover;
  background-position: center;
}

.node-weighted-visited {
  background-color: rgb(228, 113, 13);
}

.node-weighted-final {
  background-color: blueviolet;
}
