@media only screen and (min-width: 1200px) and (min-height: 700px) {
  .node {
    width: 1.5rem;
    height: 1.5rem;

    outline: 1px solid rgb(175, 216, 248);
    display: inline-table;
  }
  .node-start {
    background-color: red;
  }

  .node-weighted {
    background-color: rgb(103, 17, 17);
  }

  .node-end {
    background-color: green;
  }

  .node-visited {
    background-color: rgb(178, 133, 220);
  }

  .node-final {
    background-color: plum;
  }

  .node-wall {
    background-color: black;
  }

  .node-weighted-visited {
    background-color: rgb(228, 113, 13);
  }

  .node-weighted-final {
    background-color: blueviolet;
  }
}
@media only screen and (min-width: 800px) and (max-width: 1200px) {
  .node {
    width: 1rem;
    height: 1.5rem;

    outline: 1px solid rgb(175, 216, 248);
    display: inline-table;
  }
  .node-start {
    background-color: red;
  }
  .node-weighted {
    background-color: rgb(103, 17, 17);
  }

  .node-end {
    background-color: green;
  }

  .node-visited {
    background-color: rgb(178, 133, 220);
  }

  .node-final {
    background-color: plum;
  }

  .node-wall {
    background-color: black;
  }

  .node-weighted-final {
    background-color: blueviolet;
  }
  .node-weighted-visited {
    background-color: rgb(228, 113, 13);
  }
}

@media only screen and (max-width: 800px) {
  .node {
    width: 0.5rem;
    height: 1rem;

    outline: 1px solid rgb(175, 216, 248);
    display: inline-table;
  }
  .node-start {
    background-color: red;
  }
  .node-weighted-final {
    background-color: blueviolet;
  }

  .node-weighted-visited {
    background-color: rgb(228, 113, 13);
  }

  .node-weighted {
    background-color: rgb(103, 17, 17);
  }

  .node-end {
    background-color: green;
  }

  .node-visited {
    background-color: rgb(178, 133, 220);
  }

  .node-final {
    background-color: plum;
  }

  .node-wall {
    background-color: black;
  }
  .node-weighted-final {
    background-color: blueviolet;
  }
}
